.nav{
    display: flex;
    justify-content: center;
}

.nav-links{
    padding: 10px;
}

.logo{
    margin-right: 500px;
    padding-top: 10px;
    align-self: left;
}

.section1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

hr{
    width: 10%;
}
#just-task{
    align-self: center;
    padding-left: 40%;
}

